html {
    scroll-behavior: smooth
}

/* BREAKPOINT: Desktop (BASE) */
.rw_glass-header.brxe-section {
    min-height: 90px;
    background-color: var(--action-trans-20);
    justify-content: center
}

.rw_glass-header.brxe-section:hover {
    background-color: var(--primary-trans-60)
}

.rw_glass-header {
    backdrop-filter: blur(7px);
}


/* BREAKPOINT: Desktop (BASE) */
.rw_container__1160.brxe-div {
    max-width: 116rem;
    min-width: 32rem
}

/* BREAKPOINT: Tablet portrait */
@media (max-width: 991px) {
    .rw_container__1160.brxe-div {
        padding-right: var(--space-s);
        padding-left: var(--space-s)
    }
}

/* BREAKPOINT: Desktop (BASE) */
.rw_glass-header__grid.brxe-div {
    display: grid;
    align-items: initial;
    grid-template-columns: minmax(0, min-content) minmax(0, 1fr);
    align-items: center
}


/* BREAKPOINT: Desktop (BASE) */
.rw_flex__column-gap.brxe-block {
    column-gap: var(--space-m)
}


/* BREAKPOINT: Desktop (BASE) */
.nav-menu.brxe-nav-menu .bricks-nav-menu li {
    transition: transform 0.3s ease
}

.nav-menu.brxe-nav-menu .bricks-nav-menu li a {
    transition: transform 0.3s ease
}

.nav-menu.brxe-nav-menu .bricks-mobile-menu li a {
    transition: transform 0.3s ease
}


/* BREAKPOINT: Desktop (BASE) */
.rw_glass-header__search-field.brxe-search form {
    border: 1px solid var(--white);
    border-radius: 50em;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 1.2rem;
    padding-right: 1rem;
    padding-bottom: 1.2rem;
    padding-left: 1rem
}

.rw_glass-header__search-field.brxe-search input[type=search]::placeholder {
    color: var(--white)
}

.rw_glass-header__search-field.brxe-search input[type=search] {
    width: 8ch
}

.rw_glass-header__search-field.brxe-search button {
    height: unset
}

.rw_glass-header__search-field form .bricks-search-submit>.bricks-search-icon {
    height: 1rem;
}

.rw_glass-header__search-field .bricks-search-form input,
.rw_glass-header__search-field .input,
.rw_glass-header__search-field input:not([type=submit]),
.rw_glass-header__search-field select,
.rw_glass-header__search-field textarea {
    line-height: initial;
}

.rw_glass-header__search-field input[type=search] {
    padding: 0;
}

.rw_glass-header__search-field .bricks-search-icon {
    width: 1rem;
    padding: 0;
}


/* BREAKPOINT: Desktop (BASE) */
.rw_glass-header--our-fleet.brxe-section {
    background-color: var(--action-trans-60)
}

.rw_glass-header--our-fleet.brxe-section:hover {
    background-color: var(--action-trans-80) !important
}


/* BREAKPOINT: Desktop (BASE) */
.rw_heading__20.brxe-heading {
    font-size: clamp(1.4rem, 0.625vw + 1.2rem, 2rem)
}


/* BREAKPOINT: Desktop (BASE) */
.rw_our-fleet-header__title.brxe-heading {
    text-transform: uppercase;
    letter-spacing: 0.03em
}


/* BREAKPOINT: Desktop (BASE) */
.rw_our-fleet-header__grid.brxe-nav-menu .bricks-nav-menu>li>a {
    color: var(--primary);
    padding-top: 1.2rem;
    padding-right: 2.8rem;
    padding-bottom: 1.2rem;
    padding-left: 2.8rem;
    border-radius: 50rem;
    background-color: transparent
}

.rw_our-fleet-header__grid.brxe-nav-menu .bricks-nav-menu>li>.brx-submenu-toggle>* {
    color: var(--primary);
    padding-top: 1.2rem;
    padding-right: 2.8rem;
    padding-bottom: 1.2rem;
    padding-left: 2.8rem
}

.rw_our-fleet-header__grid.brxe-nav-menu .bricks-nav-menu>li>.brx-submenu-toggle {
    border-radius: 50rem;
    background-color: transparent
}

.rw_our-fleet-header__grid.brxe-nav-menu .bricks-nav-menu>.current-menu-item>a {
    background-color: var(--primary)
}

.rw_our-fleet-header__grid.brxe-nav-menu .bricks-nav-menu>.current-menu-item>.brx-submenu-toggle {
    background-color: var(--primary)
}

.rw_our-fleet-header__grid.brxe-nav-menu .bricks-nav-menu>.current-menu-parent>a {
    background-color: var(--primary);
    color: var(--white);
    font-weight: 500
}

.rw_our-fleet-header__grid.brxe-nav-menu .bricks-nav-menu>.current-menu-parent>.brx-submenu-toggle {
    background-color: var(--primary)
}

.rw_our-fleet-header__grid.brxe-nav-menu .bricks-nav-menu .current-menu-item>a {
    color: var(--white);
    font-weight: 500
}

.rw_our-fleet-header__grid.brxe-nav-menu .bricks-nav-menu .current-menu-item>.brx-submenu-toggle>* {
    color: var(--white);
    font-weight: 500
}

.rw_our-fleet-header__grid.brxe-nav-menu .bricks-nav-menu>.current-menu-parent>.brx-submenu-toggle>* {
    color: var(--white);
    font-weight: 500
}

.rw_our-fleet-header__grid.brxe-nav-menu {
    display: grid;
    align-items: initial
}

.rw_our-fleet-header__grid.brxe-nav-menu .bricks-nav-menu>li>a:hover {
    background-color: var(--primary);
    color: var(--white)
}

.rw_our-fleet-header__grid.brxe-nav-menu .bricks-nav-menu>li>.brx-submenu-toggle:hover {
    background-color: var(--primary)
}

.rw_our-fleet-header__grid.brxe-nav-menu .bricks-nav-menu>li>.brx-submenu-toggle>*:hover {
    color: var(--white)
}

.rw_our-fleet-header__grid.brxe-nav-menu .bricks-nav-menu li {
    transition: all 0.2s
}

.rw_our-fleet-header__grid.brxe-nav-menu .bricks-nav-menu li a {
    transition: all 0.2s
}

.rw_our-fleet-header__grid.brxe-nav-menu .bricks-mobile-menu li a {
    transition: all 0.2s
}


/* BREAKPOINT: Desktop (BASE) */
.rw_our-fleet-header__grid.brxe-block {
    grid-template-columns: minmax(auto, 30%) minmax(auto, 70%);
    display: grid;
    align-items: initial;
    transition: all 0.2s
}

/* BREAKPOINT: Mobile landscape */
@media (max-width: 767px) {
    .rw_our-fleet-header__grid.brxe-block {
        grid-template-columns: minmax(auto, 1fr);
        justify-items: center
    }
}

/* BREAKPOINT: Desktop (BASE) */
.rw_container--hero.brxe-container {
    min-height: calc(100svh - 90px)
}


/* BREAKPOINT: Desktop (BASE) */
.rw_h1--experiences.brxe-heading {
    font-size: 8vmin;
    text-transform: uppercase;
    font-weight: 200;
    line-height: 1em
}


/* BREAKPOINT: Desktop (BASE) */
.rw_grid.brxe-div {
    display: grid;
    align-items: initial
}


/* BREAKPOINT: Desktop (BASE) */
.rw_next-departure-featured__month.brxe-heading {
    font-size: clamp(1rem, 1.875vw + 0.4rem, 2.8rem);
    font-weight: 400;
    line-height: 1em;
    text-transform: lowercase;
    color: #4d4d4d;
    font-style: italic
}


/* BREAKPOINT: Desktop (BASE) */
.rw_next-departure-featured__date.brxe-text-basic {
    font-size: clamp(2.8rem, 6.25vw + 0.8rem, 8.8rem);
    font-weight: 300;
    line-height: 1em
}


/* BREAKPOINT: Desktop (BASE) */
.rw_next-departure-featured__lede.brxe-heading {
    font-size: clamp(1rem, 1.875vw + 0.4rem, 2.8rem);
    font-weight: 400;
    line-height: 1em;
    color: #4d4d4d;
    font-style: italic;
    text-transform: uppercase
}


/* BREAKPOINT: Desktop (BASE) */
.rw_next-departure-featured__heading.brxe-heading {
    font-size: 4.5rem;
    line-height: 1em;
    text-transform: uppercase
}


/* BREAKPOINT: Desktop (BASE) */
.rw_btn--next-departure.brxe-button {
    font-size: 1.4rem;
    padding-top: clamp(0.4rem, 0.417vw + 0.267rem, 0.8rem);
    padding-right: clamp(0.8rem, 1.042vw + 0.467rem, 1.8rem);
    padding-bottom: clamp(0.4rem, 0.417vw + 0.267rem, 0.8rem);
    padding-left: clamp(0.8rem, 1.042vw + 0.467rem, 1.8rem)
}


/* BREAKPOINT: Desktop (BASE) */
.rw_section--footer.brxe-section {
    background-image: url(../wp-content/uploads/home-contact-us-section-bkg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat
}

/* BREAKPOINT: Mobile landscape */
@media (max-width: 767px) {
    .rw_section--footer.brxe-section {
        background-image: url(../wp-content/uploads/home-contact-us-section-mobile-bkg-480x1080.jpg);
        background-size: cover
    }
}

/* BREAKPOINT: Desktop (BASE) */
.rw_div__grid.brxe-div {
    display: grid;
    align-items: initial;
    width: 100%
}


/* BREAKPOINT: Desktop (BASE) */
.rw_height--full.brxe-div {
    height: 100svh;
    max-height: 100svh
}


/* BREAKPOINT: Desktop (BASE) */
.rw_div__grid--col-auto-1.brxe-div {
    grid-template-columns: minmax(0, auto) minmax(0, 1fr)
}

/* BREAKPOINT: Mobile landscape */
@media (max-width: 767px) {
    .rw_div__grid--col-auto-1.brxe-div {
        grid-template-columns: minmax(0, 1fr)
    }
}

/* BREAKPOINT: Desktop (BASE) */
.rw_footer__top-row-col--bottom.brxe-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: var(--space-xl)
}

/* BREAKPOINT: Mobile landscape */
@media (max-width: 767px) {
    .rw_footer__top-row-col--bottom.brxe-div {
        align-items: center;
        padding-top: var(--space-xxl);
        row-gap: var(--space-m)
    }
}

/* BREAKPOINT: Desktop (BASE) */
.rw_footer__title.brxe-heading {
    width: 15ch
}

/* BREAKPOINT: Mobile landscape */
@media (max-width: 767px) {
    .rw_footer__title.brxe-heading {
        width: 20ch;
        text-align: center
    }
}

/* BREAKPOINT: Desktop (BASE) */
.rw_btn--icon.brxe-button {
    font-size: 1.4rem
}


/* BREAKPOINT: Desktop (BASE) */
.rw_footer__top-row-col--middle.brxe-div {
    padding-top: var(--space-xxl);
    padding-bottom: var(--space-xxl);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center
}


/* BREAKPOINT: Desktop (BASE) */
.rw_footer__contact-form-container.brxe-div {
    width: 55rem;
    max-width: 55rem;
    background-image: url(../wp-content/uploads/home-pattern-bkg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: var(--space-s);
    padding-right: var(--space-l);
    padding-bottom: var(--space-xs);
    padding-left: var(--space-l)
}

/* BREAKPOINT: Mobile landscape */
@media (max-width: 767px) {
    .rw_footer__contact-form-container.brxe-div {
        padding-top: var(--space-l);
        padding-right: var(--space-m);
        padding-bottom: var(--space-l);
        padding-left: var(--space-m)
    }
}

/* BREAKPOINT: Desktop (BASE) */
.rw_footer__contact-form.brxe-form {
    justify-content: space-between
}

.rw_footer__contact-form.brxe-form ::placeholder {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--primary)
}

.rw_footer__contact-form.brxe-form select {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--primary);
    font-size: 1.4rem;
    border-color: var(--primary)
}

.rw_footer__contact-form.brxe-form .form-group input {
    font-size: 1.4rem;
    color: var(--primary);
    border-color: var(--primary)
}

.rw_footer__contact-form.brxe-form textarea {
    font-size: 1.4rem;
    color: var(--primary);
    border-color: var(--primary)
}

.rw_footer__contact-form.brxe-form .flatpickr {
    border-color: var(--primary)
}

.rw_footer__contact-form.brxe-form .bricks-button {
    border-color: var(--primary);
    color: var(--primary) !important;
    font-size: 1.4rem
}

.rw_footer__contact-form.brxe-form .choose-files {
    border-color: var(--primary)
}

.rw_footer__contact-form.brxe-form .submit-button-wrapper {
    margin-right: auto;
    margin-left: auto
}


/* BREAKPOINT: Desktop (BASE) */
.rw_div__grid--col-3.brxe-div {
    grid-template-columns: repeat(3, minmax(0, 1fr))
}

/* BREAKPOINT: Mobile landscape */
@media (max-width: 767px) {
    .rw_div__grid--col-3.brxe-div {
        grid-template-columns: minmax(0, 1fr)
    }
}

/* BREAKPOINT: Desktop (BASE) */
.rw_footer__bottom-row-col-left.brxe-div {
    padding-right: var(--space-l);
    display: grid;
    align-items: initial;
    align-content: center;
    grid-gap: var(--space-s);
    grid-template-rows: repeat(2, minmax(0, auto))
}

/* BREAKPOINT: Mobile landscape */
@media (max-width: 767px) {
    .rw_footer__bottom-row-col-left.brxe-div {
        padding-top: var(--space-xs);
        padding-bottom: var(--space-xs);
        grid-template-rows: minmax(0, auto)
    }
}

/* BREAKPOINT: Desktop (BASE) */
.temp_div-contact-info-wrapper.brxe-div {
    font-size: 1.2rem;
    line-height: 1em;
    display: grid;
    align-items: initial;
    grid-gap: 1.2rem;
    grid-template-columns: minmax(0, auto) minmax(0, 1fr)
}

/* BREAKPOINT: Mobile landscape */
@media (max-width: 767px) {
    .temp_div-contact-info-wrapper.brxe-div {
        grid-template-columns: repeat(6, minmax(0, auto));
        justify-content: center;
        font-size: 1rem
    }
}

/* BREAKPOINT: Desktop (BASE) */
.rw_footer__bottom-row-col-center.brxe-div {
    display: flex;
    padding-right: var(--space-xxl);
    padding-left: var(--space-xxl);
    justify-content: center;
    align-items: center;
    border-top: 0 solid var(--white);
    border-right: 1px solid var(--white);
    border-bottom: 0 solid var(--white);
    border-left: 1px solid var(--white)
}

/* BREAKPOINT: Mobile landscape */
@media (max-width: 767px) {
    .rw_footer__bottom-row-col-center.brxe-div {
        border-top: 0 solid var(--white);
        border-right: 0 solid var(--white);
        border-bottom: 1px solid var(--white);
        border-left: 0 solid var(--white);
        padding-bottom: var(--space-m)
    }
}

/* BREAKPOINT: Desktop (BASE) */
.rw_footer__bottom-row-col-right.brxe-div {
    display: grid;
    align-items: initial;
    grid-gap: 4rem;
    grid-template-columns: minmax(0, auto) minmax(0, 1fr);
    padding-left: var(--space-l);
    align-content: center
}

/* BREAKPOINT: Mobile landscape */
@media (max-width: 767px) {
    .rw_footer__bottom-row-col-right.brxe-div {
        grid-template-columns: repeat(2, minmax(0, auto));
        justify-content: center;
        border-top: 1px solid var(--white);
        padding-top: var(--space-m);
        padding-right: 0;
        padding-bottom: var(--space-m);
        padding-left: 0;
        justify-items: center
    }
}

/* BREAKPOINT: Desktop (BASE) */
.rw_btn--ig-follow.brxe-button {
    border-radius: 1.2px !important;
    font-size: 0.8rem;
    text-transform: none;
    font-weight: 300;
    padding-right: 2rem;
    padding-left: 2rem
}


/* BREAKPOINT: Desktop (BASE) */
.rw_map--island__close-btn.brxe-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 99999;
    cursor: pointer;
    font-size: 1.6rem;
    color: var(--bricks-color-gmetjh);
    fill: var(--bricks-color-gmetjh)
}